@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

*{
  margin: 0 ;
  padding: 0;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;

}

body{
  background-color: rgb(246, 246, 246);
}