.empty-posts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 70px;
  height: 50vh;
  justify-content: space-between;
}

.empty-posts-container :first-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.camera-container {
  width: fit-content;
  padding: 10px;
  border: 2px solid;
  border-radius: 50%;
}

.camera-container img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.title-empty-posts {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 900;
  font-size: 25px;
}

.share-photo-empty-post {
  color: #0095f6;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 700;
  cursor: pointer;
}
.share-photo-profile :hover {
  color: black;
}

.empty-posts-desc {
  text-align: center;
}

@media (max-width: 769px) {
  .empty-posts-container {
    height: 60vh;
    width: 90%;
  }
}

@media (max-width: 769px) {
  .empty-posts-container {
    height: 60vh;
    width: 90%;
  }
}

@media (max-width: 680px) {
  .footer-profile {
    display: none;
  }
}
