.footer-profile {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-left: 25px;
  margin-top: 20px;
  width: 99%;
}

.footer-profile p {
  color: #8e8e8e;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}