.content {
  height: 100%;
  width: 100%;
  color: #2f2f2f;
}

.content a{
  text-decoration: none;
  color: #000;
}

.content .type{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  font-weight: bold;
  font-size: 1.1rem;
  text-transform: capitalize;
  border-bottom: solid rgb(230, 227, 227) 0.03px;
  height: 10%
}

.content .people{
  height: 90%;
  overflow-y: auto;
}

.content .people .person{
  width: 100%;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 0.5rem;
  margin-bottom: 0.3rem;
}

.content .people .person .avatar{
  width: 3rem;
  height: 3rem;
}

.content .people .person button{
  margin-left: auto;
  background-color: #efefef;
  border: 0;
  outline: 0;
  font-size: 0.9rem;
  padding: 0.5rem 1.2rem;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 500;
}

.content .people .person button:hover{
  background-color: #dbdbdb;
}

.content .people .person p{
  font-size: 0.9rem;
}

.content .people .person .username{
  font-weight: 500;
}

.content .people .person .name {
  color: #989898;
}