.profile-all-posts-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 72%;
  min-width: 350px;
  gap: 20px;
  margin: 5px auto 60px;
}

.profile-row-posts {
  display: flex;
  justify-content: center;
  gap: 3%;
  width: 100%;
  margin-top: 20px;
}

.single-posts {
  width: 31%;
  min-width: 300px;
  height: 320px;
  display: flex;
}

.hover-icons {
  height: 0px;
  position: relative;
  top: 45%;
  left: 45%;
  z-index: 70;
  display:flex;
  font-size: 25px;
  width: 0px;
  color: white;
  justify-content: center;
  gap: 15px;
}

.images-posts-profile {
  width: 100;
  min-width: 300px ;
  height: 100% !important;
  object-fit: cover;
}
@media (max-width: 1200px) {
  .tabs-container {
    width: 95%;
  }
  .tabs-slider {
    width: 90% !important;
  }
  .profile-all-posts-container {
    width: 95%;
  }
}

@media (max-width: 821px) {
  .single-posts {
    width: 31%;
    height: 240px;
  }
}

@media (max-width: 768px) {
  .single-posts {
    width: 32%;
    height: 198px;
  }
}

@media (max-width: 735px) {
  .tab-text {
    display: none;
  }
  .tab-profile img {
    width: 20px;
  }

  .tab-icon {
    font-size: 20px;
  }

  .tagged-icon {
    width: 25px !important;
  }

  .profile-all-posts-container {
    width: 100%;
    gap: 0px;
  }
  .profile-container {
    width: 100%;
  }

  .profile-row-posts {
    gap: 0px;
    margin-top: 0px;
  }

  .single-posts {
    width: 33.3%;
  }
}

@media (max-width: 600px) {
  .single-posts {
    height: 150px;
  }
  .profile-row-posts {
    gap: 3px;
    margin-top: 3px;
  }
  .hover-icons {
    font-size: 18px;
    gap: 8px;
  }

}

@media (max-width: 500px) {
  .single-posts {
    height: 140;
  }
  .hover-icons {
    font-size: 17px;
    gap: 7px;
  }
}
@media (max-width: 400px) {
  .single-posts {
    height: 140;
  }
 
}
@media (max-width: 359px) {
  .single-posts {
    height: 110px;
  }
}
