.profile-all-posts-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 72%;
  margin: 5px auto 0px;
}


.profile-row-posts {
  display: flex;
  justify-content: center;
  gap: 3%;
  width: 100%;
  margin-top: 20px;
}

.single-posts {
  width: 31% ;
  height: 320px;
  box-shadow: rgba(4, 93, 182, 0.2) 2px 8px 24px;
}

.images-posts-profile {
  width: 100%;
  height: 100%; 
  object-fit: cover;
}
