.post{
  margin: 30px auto;
  width: 472px;
}
.post .post-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 6px 0;
}

.post-header .post-options{
  cursor: pointer;
  font-size: 20px;
  font-weight: bolder;
}

.post-header .post-options:hover{
  color: rgba(96, 96, 96, 0.812);
}